:root{
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
}
body{
    background-color: var(--Lightgray);
    position: absolute;
    top: 15%;
    left: 40%;
}

.container{
    display: flex;
    justify-content: center;
}

.card{
    background-color: var(--White);
    border-radius: 5%; /*5%;*/
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
   /* width: 1440px; 
    width:30%;
    height:70%;*/
     width:250px;
     height:380px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#qrcode{
    margin:10px;
}

img{
    max-width:200px;
    max-height:200px;
    min-height: auto;
    min-width: auto;
    border-radius: 3%;
}

#text{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    margin: 15px;
    margin-top:10px;
    margin-bottom: 30px;
}

#heading{
    font-weight: 700;
    font-size: medium;
}

#description{
    font-weight: 400;
    color:var(--Grayishblue) ;
    font-size:smaller;
    margin-top: 10px;
}

@media only screen and (max-width: 1440px) and (min-width:376px) {
    
} 
@media only screen and (max-width: 375px) {
    .card{
        width:70%;
        height:70%;
    }
}  